extends ../layouts/main-layout.pug

block content
    main
        if products.length
            ul
                each item in products 
                    li
                        img(src=item.product.imageUrl, alt=item.product.title style='width:100px;height:100px;')
                        p #{item.product.title}. Qty: #{item.qty}. Price #{item.product.price}$
                        p Subtotal: #{item.product.price * item.qty}
                        form(action="/shop/delete-cart-item", method="post")
                            input(type="hidden", name="id" value=item.product.id)
                            input(type="hidden", name="price" value=item.product.price)
                            button.btn(type="submit") Delete
                    
        else
            h1 No items in the cart!
