extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet" href="/css/cart.css")

block content
    main
        if products.length
            ul.cart__item-list
                each item in products 
                    li.cart__item
                        img(src=item.product.imageUrl, alt=item.title style='width:100px;height:100px;')
                        h5 #{item.product.title}
                        p Qty: #{item.quantity}. Price #{item.product.price}$
                        p Subtotal: #{item.product.price * item.quantity}$
                        form(action="/shop/delete-cart-item" method="post")
                            input(type="hidden" name="id" value=item.product.id)
                            input(type="hidden" name="price" value=item.product.price)
                            button.btn.danger(type="submit") Delete
            hr
            .centered
                form(action="/shop/order" method="post")
                    button.btn(type="submit") Order now!
        else
            h1 No items in the cart!
