extends ../layouts/main-layout.pug

block content
    if (!orders)
        h1 Nothing there yet!
    else
        ul.cart__item-list
            each order in orders 
                li.cart__item
                    h3 #{order._id}
                    ul.cart__item-list
                        each item in order.products
                            li.cart__item
                                img(src=item.product.imageUrl, alt=item.product.title style='width:100px;height:100px;')
                                p #{item.product.title}. Qty: #{item.product.quantity}. 
                                Price #{item.product.price}$
                                p Subtotal: #{item.product.price * item.quantity}$
                                //- form(action="/shop/delete-cart-item" method="post")
                                //-     input(type="hidden" name="id" value=item.id)
                                //-     input(type="hidden" name="price" value=item.price)
                                //-     button.btn.danger(type="submit") Delete